footer.navbar.footer {
  background-color: #0C1D28;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

footer.navbar.footer .social-media a {
  padding-left: 10px;
}

footer.navbar.footer .social-media a:last-child {
  padding-left: 5px;
}
