.speakers .list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.speakers-list-speaker-name {
  color: #F88A36;
}

.speakers-list-speaker-name:hover {
  color: #FD2020;
}

.speakers .card {
  width: 230px;
  height: 345px;
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 10px 5px;
  overflow: hidden;
  position: relative;
  margin: 0 20px 45px;
  transition: box-shadow .2s ease-in-out;
}

.speakers .card:hover {
  box-shadow: rgb(0, 0, 0, 0.1) 0px 7px 15px 7px;
}

.speakers .card a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.speakers .card .image {
  width: 230px;
  height: 225px;
  overflow: hidden;
}

.speakers .card .image img {
  width: 100%;
  height: auto;
  margin-top: -10px;
}

.speakers .card .description h3 {
  font-size: 22px;
}

.speakers .card .description h4 {
  font-size: 16px;
}

.cfp {
  padding: 30px 0;
}

.cfp p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.cfp .submit {
  background: linear-gradient(to right, #F88A36 , #FD2020) no-repeat;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  width: 200px;
  height: 40px;
}