.sponsors.header {
  background-color: #ffffff;
}

.sponsors .action-buttons {
  display: flex;
  justify-content: center;
}

.sponsors .sponsor-list .sponsor {
  background-color: #ffffff;
  color: black;
  border-radius: 20px;
  box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 10px 5px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 30px;
  transition: box-shadow .2s ease-in-out;
}

.sponsors .sponsor-list .sponsor:hover {
  box-shadow: rgb(0, 0, 0, 0.1) 0px 7px 15px 7px;
}

.sponsors .sponsor-list .sponsor a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sponsors .sponsor-list .sponsor .image {
  margin: auto;
  padding: 20px;
}

.sponsors .sponsor-list .sponsor .image img {
  height: 100%;
  width: auto;
}

.sponsors .sponsor-list .sponsor .description {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsors .sponsor-list .sponsor .description h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

/* Platinum */
.sponsors .sponsor-list .f-platinum {
    background: linear-gradient(to right, #c3c3c3, #969595) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sponsors .sponsor-list .platinum .sponsor {
    width: 210px;
    height: 210px;
}
.sponsors .sponsor-list .platinum .sponsor .image {
    width: 160px;
    height: 160px;
}
.sponsors .sponsor-list .platinum .description {
    height: 50px;
}


/* Gold */
.sponsors .sponsor-list .f-gold {
    background: linear-gradient(to right, #FFCC40, #FD9908) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sponsors .sponsor-list .gold .sponsor {
    width: 180px;
    height: 180px;
}
.sponsors .sponsor-list .gold .sponsor .image {
    width: 130px;
    height: 130px;
    text-align: center;
}
.sponsors .sponsor-list .gold h4 {
    font-size: 20px;
}

/* Silver */
.sponsors .sponsor-list .f-silver {
    background: linear-gradient(to right, #d2cfcf, #bfbfbf) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sponsors .sponsor-list .silver .sponsor {
    width: 160px;
    height: 160px;
}
.sponsors .sponsor-list .silver .sponsor .image {
    width: 110px;
    height: 110px;
    text-align: center;
}
.sponsors .sponsor-list .silver h4 {
    font-size: 18px;
}

/* Bronze */
.sponsors .sponsor-list .f-bronze {
    background: linear-gradient(to right, #F88A36, #FF3634) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sponsors .sponsor-list .bronze .sponsor {
    width: 140px;
    height: 140px;
}

.sponsors .sponsor-list .bronze .sponsor .image {
    width: 100px;
    height: 100px;
    text-align: center;
}
.sponsors .sponsor-list .sponsor .image.vertical {
    width: 90%;
    padding: 0;
    display: flex;
    align-items: center;
}
.sponsors .sponsor-list .sponsor .image.vertical img {
    width: 100%;
    height: auto;
}

.sponsors .sponsor-list .bronze .description {
    height: 40px;
}

.sponsors .sponsor-list .bronze h4 {
    font-size: 16px;
}

/* Custom */
.sponsors .sponsor-list .f-custom {
    background: linear-gradient(to right, #77919e, #4a4e52) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sponsors .sponsor-list .custom .sponsor {
    width: 120px;
    height: 120px;
}
.sponsors .sponsor-list .custom .sponsor .image {
    width: 90px;
    height: 90px;
    text-align: center;
}
.sponsors .sponsor-list .custom .description {
    height: 30px;
}
.sponsors .sponsor-list .custom h4 {
    font-size: 14px;
}

.apple-logo {
    height: 110px !important;
    margin-top: 10px
}
