.videos .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.videos .card {
    width: 300px;
    height: 330px;
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 10px 5px;
    overflow: hidden;
    position: relative;
    margin: 0 20px 45px;
    transition: box-shadow .2s ease-in-out;
}

.videos .card:hover {
    box-shadow: rgb(0, 0, 0, 0.1) 0px 7px 15px 7px;
}

.videos .card a {
    position: absolute;
    height: 100%;
    width: 100%;
}

.videos .card .image {
    width: 300px;
    height: 225px;
    overflow: hidden;
}

.videos .card .image img {
    width: 100%;
    height: auto;
    margin-top: -10px;
}

.videos .card .description h3 {
    font-size: 22px;
}

.videos .card .description h4 {
    font-size: 16px;
}

.videos .speaker-list {
    display: inline;
    list-style: none;
}

.videos .speaker-list {
    padding: 0px;
}

.videos .speaker-list li {
    display: inline;
}

.videos .speaker-list li:after {
    content: ", ";
}

.videos .speaker-list li:last-child:after {
    content: "";
}