html {
  position: relative;
  min-height: 100%;
}

body {
  /* Add 25px when using the "sales-banner" */
  padding: 50px 0;
  background-color: #1d303e;
}

/* Icons (Feather) */
.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.footer {
  .feather-replacement {
    filter: invert(100%) sepia(0%) saturate(7483%) hue-rotate(294deg) brightness(101%) contrast(101%);
  }
}

.profile {
  .feather-replacement {
    filter: invert(47%) sepia(74%) saturate(6012%) hue-rotate(199deg) brightness(100%) contrast(103%);
  }

  .feather-replacement:hover {
    filter: invert(20%) sepia(92%) saturate(2263%) hue-rotate(200deg) brightness(91%) contrast(101%);
  }
}

.feather-replacement {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* Icons (Linea Basic) */
@font-face {
  font-family: "linea-basic-10";
  src:url("App/YearX/images/icons/lineabasic/linea-basic-10.eot");
  src:url("App/YearX/images/icons/lineabasic/linea-basic-10.eot?#iefix") format("embedded-opentype"),
  url("App/YearX/images/icons/lineabasic/linea-basic-10.woff") format("woff"),
  url("App/YearX/images/icons/lineabasic/linea-basic-10.ttf") format("truetype"),
  url("App/YearX/images/icons/lineabasic/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* MARK: - Font */

@font-face {
  font-family: 'Monofur';
  src: url('monof55.ttf')  format('truetype');
}

.ff-monofur {
  font-family: 'Monofur', sans-serif, Arial !important;
}

.f-weight-300 {
  font-weight: 300;
}

.f-gradient {
  background: linear-gradient(to right, #F88A36 , #FD2020) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MARK: -  Page Block */

.page-block {
  min-height: 500px;
  position: relative;
  z-index: 0;
  padding: 30px 0;
}

.page-block.no-height {
  min-height: 0px;
}

.bg-blue {
  background: #1d303e;
}

.h3 {
  background: linear-gradient(to right, #F88A36 , #FD2020) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2 {
  background: linear-gradient(to right, #F88A36 , #FD2020) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MARK: - Height */

.h-30 {
  height: 30px !important;
  width: auto;
}

.h-40 {
  height: 40px !important;
  width: auto;
}

.h-50 {
  height: 50px !important;
  width: auto;
}

.h-60 {
  height: 60px !important;
  width: auto;
}

.h-70 {
  height: 70px !important;
  width: auto;
}

.h-80 {
  height: 80px !important;
  width: auto;
}

.h-90 {
  height: 90px !important;
  width: auto;
}

.h-100 {
  height: 100px !important;
  width: auto;
}

/* MARK: - Opacity */

.opacity-15 {
    opacity: 0.15;
    transition: opacity .2s ease-in-out !important;
}

.opacity-15:hover {
    opacity: 1
}

/* MARK: - Button */

.btn-gradient {
  background: linear-gradient(90deg, #F88A36 , #FD2020) no-repeat;
  color: #ffffff;
  border: none;
  border-radius: 6px;
}

.btn-gradient:hover {
  color: #eeeeee
}

/* MARK: - Sales Banner */

a.sales-banner {
  background: linear-gradient(90deg, #F88A36 , #FD2020) no-repeat;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  display: block;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a.sales-banner:hover {
  font-weight: 400;
  color: #ffffff;
}

/* Youtube */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
