@font-face {
	font-family: 'Monofur';
	src: url('monof55.ttf')  format('truetype');
}

body, html {
	height: 100%;
}

body {
	font-family: 'Monofur', sans-serif !important;
}

.thank-you {
  margin-top: 100px;
}

.brand .logo img {
  height: auto;
  width: 100px;
}

.brand .logo {
  text-align: center;
}

.brand {
  margin-top: 100px;
}