@font-face {
	font-family: 'Monofur';
	src: url('monof55.ttf')  format('truetype');
}

body, html {
	height: 100%;
}

body {
	font-family: 'Monofur', sans-serif !important;
  overflow: hidden;
}

.thank-you {
  margin-top: 100px;
}

.brand .logo img {
  height: auto;
  width: 100px;
}

.brand .logo {
  text-align: center;
}

.brand {
  margin-top: 100px;
}

.star-sm {
  background: url("/images/stars-sm.svg") center/1100px auto repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.33;
  animation: 1000s rotate360 infinite linear;
}

@keyframes rotate360{to{transform:rotateZ(360deg)}}

.star-lg {
  background: url("/images/stars-lg.svg") center/1100px auto repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.66;
}