@font-face {
	font-family: 'Monofur';
	src: url('monof55.ttf')  format('truetype');
}

body, html {
	height: 100%;
}

body {
  background: radial-gradient(#2D4C63, #14212A);
  color: #f5f5f5;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.42857143;
}

h2 {
    font-size: 22px;
}

h3 {
  color: #fa532a;
}

a, a:hover, a:focus {
  color: #fa532a;
}

.star-sm {
  background: url("/images/stars-sm.svg") center/1100px auto repeat;
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  left: -50%;
  opacity: 0.33;
  animation: 1000s rotate360 infinite linear;
}

@keyframes rotate360{to{transform:rotateZ(360deg)}}

.star-lg {
  background: url("/images/stars-lg.svg") center/1100px auto repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.66;
}

@font-face {
  font-family: 'Monofur';
  src: url('monof55.ttf')  format('truetype');
}

/* HELPER  */
.text-white {
    color: #ffffff;
}

.bg-lightgray {
    background-color: #f9f9f9;
}

.ff-monofur {
  font-family: 'Monofur', sans-serif, Arial !important;
}

.f-weight-sm {
  font-weight: 300;
}

.f-weight-md {
  font-weight: 400;
}

.font-weight-lg {
    font-weight: 600;
}

.font-size-lg {
    font-size: 20px;
}

.fc-orange {
  color: #fa532a;
}

.fc-white {
  color: #ffffff;
}

.fs-md {
  font-size: 16px;
}

.width-md {
    width: 150px;
}

.border-none {
    border: none;
}

.m-t-0 {
    margin-top: 0;
}

.m-t-15 {
    margin-top: 15px
}

.m-t-30 {
    margin-top: 30px
}

.m-t-100 {
    margin-top: 100px
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.height-md {
    height: 100px;
}

.height-80 {
    height: 80px !important;
}

.height-90 {
    height: 90px !important;
}

.width-auto {
    width: auto !important;
}

.thank-you {
  margin-top: 100px;
}

.first-content {
  margin-top: 100px;
}

.hero {
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}

.brand {
  margin: 100px 0 50px;
}

.brand h2 {
  font-size: 36px;
}

.brand .logo {
  text-align: center;
}

.brand .logo img {
  height: 130px;
  width: auto;
}

.buy-tickets {
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-sss {
  background-color: #fa532a;
  border: none;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  padding: 9px;
  border-radius: 9px;
  width: 200px;
  font-size: 18px;
  color: #ffffff;
  transition: font-weight .1s ease-in-out;
  margin-top: 5px;
}

.btn-sss:hover {
  color: #ffffff;
  background-color: #ff5f46;
}

.signup-form {
  margin: 25px 0 75px;
}

.signup-form #mce-EMAIL {
  padding: 15px;
  height: 45px;
  border: none;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  border-radius: 8px;
  margin: auto;
  max-width: 500px;
}

.signup-form .submit {
  background-color: #fa532a;
  border: none;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
  padding: 9px;
  border-radius: 9px;
  width: 200px;
  font-size: 18px;
  color: #ffffff;
  transition: font-weight .1s ease-in-out;
  margin-top: 5px;
}
.signup-form .submit:hover {
  background-color: #ff5f46;
}

.more-info {
  padding-bottom: 25px;
}

.more-info h4 {
  font-weight: 300;
}
.thanks {
  text-align:center;
  padding-bottom: 50px;
}

.thanks .sponsors img {
  width: 100px;
  margin-right: 20px;
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 24px;
}

footer a,
footer a:hover,
footer a:focus {
  color: #fa532a;
  padding: 0 5px;
  text-decoration: none;
  height: 30px;
  width: 30px;
}

footer a.twitter {
  padding-top: 2px;
}

/* Pulse Effect */

.buy-tickets .btn-default {
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
}

.buy-tickets .btn-default:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

/* Tito */
.tito-wrapper {
    /*background-color: #f5f5f5 !important;*/
  border: none !important;
  background: #0C1D28 !important;
  border-radius: 5px !important;
  padding: 10px !important;
  border-left: 2px solid #F88A36 !important;
  border-right: 2px solid #FD2020 !important;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  background-position: 0 0, 0 100% !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: 100% 2px !important;
  -moz-background-size: 100% 2px !important;
  background-size: 100% 2px !important;
  background-image: -webkit-linear-gradient(left, #F88A36 0%, #FD2020 100%), -webkit-linear-gradient(left, #F88A36 0%, #FD2020 100%) !important;
  background-image: -moz-linear-gradient(left, #F88A36 0%, #FD2020 100%), -moz-linear-gradient(left, #F88A36 0%, #FD2020 100%) !important;
  background-image: -o-linear-gradient(left, #F88A36 0%, #FD2020 100%), -o-linear-gradient(left, #F88A36 0%, #FD2020 100%) !important;
  background-image: linear-gradient(to right, #F88A36 0%, #FD2020 100%), linear-gradient(to right, #F88A36 0%, #FD2020 100%) !important;
}

.tito-wrapper .tito-ticket {
  color: #ffffff;
}

.tito-wrapper .tito-ticket-name {
  color: #fa532a !important;
  font-size: 22px !important;
}

.tito-wrapper .tito-ticket-description {
  font-size: 14px !important;
  color: #ddd;
  margin: 10px 0;
}
