.more-info {
  padding: 25px 0;
}

.more-info h3 {
  color: #fa532a;
}

.more-info h4 {
  font-weight: 300;
}

.more-info a,
.more-info a:hover,
.more-info a:focus {
  color: #f5f5f5;
  font-weight: 400;
  text-decoration: underline;
}
