nav.navigation {
    background-color: #0C1D28;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav.navigation .container {
    height: 100%;
}

/* LOGO */
nav.navigation .logo {
    float: left;
    height: 100%;
}
nav.navigation .logo a {
    display: flex;
    align-items: center;
    height: 100%;
}
nav.navigation .logo a img {
    height: calc(100% - 12px);
}

/* LINKS */
nav.navigation ul {
    align-items: center;
    display: flex;
    float: right;
    height: 50px;
    list-style: none;
    margin: 0;
}
nav.navigation ul li {
    margin: 0 5px;
    position: relative;
}
nav.navigation ul li:hover span {
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #F88A36 , #FD2020);
    position: absolute;
    left: 0;
    bottom: 0;
}
nav.navigation ul li a {
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 5px;
    padding: 5px 0;
    text-decoration: none;
}
nav.navigation ul li a:hover {
    color: #ffffff;
}
