.sponsors .box {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
}

/* GOLD */
.sponsors .gold h3 {
    color: #ffc33c;
}
.sponsors .gold .box {
    border: 5px solid #ffc33c;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* SILVER */
.sponsors .silver h3 {
    color: rgba(181,181,181,1);
}
.sponsors .silver .box {
    border: 5px solid rgba(181,181,181,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* BRONZE */
.sponsors .bronze h3 {
    color: #D17D21;
}
.sponsors .bronze .box {
    border: 5px solid #D17D21;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sponsors .gold img,
.sponsors .silver img {
    height: 120px;
}

.sponsors .bronze img {
    height: 60px;
}

.sponsors .row {
    margin-bottom: 50px;
}