.videos .flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.videos .flex-item {
    width: 400px;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .videos .flex-item {
        width: 100%;
        padding: 0 30px;
    }
}