.schedule .panel table {
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #ffffff;
}

.schedule .panel .table .time-column {
  width: 150px;
  text-align: center;
}

.schedule .panel .table .room-column {
  width: 250px;
}

.schedule .panel table thead tr th {
  background: none;
  background-color: transparent;
  border-color: inherit;
}

.schedule .panel table thead tr {
  background: linear-gradient(90deg, #F88A36 , #FD2020);
}

.schedule .talk div {
  float:left;
}

.schedule .talk .avatars {
  width:85px;
  display: inline-flex;
  padding-left:25px;
}

.schedule .talk .avatars .avatar {
  margin-left: -25px;
  position: relative;
  border:2px solid #fff;
  border-radius: 50%;
  overflow:hidden;
  width:50px;
  height:50px;
}

.schedule .talk .avatars .avatar img {
  width:50px;
  height:50px;
}

.schedule .speaker-list {
  display: inline;
  list-style: none;
}

.schedule .speaker-list {
  padding: 0px;
}

.schedule .speaker-list li {
  display: inline;
}

.schedule .speaker-list li:after {
  content: ", ";
}

.schedule .speaker-list li:last-child:after {
    content: "";
}
