.tito-submit {
  background: linear-gradient(to right, #F88A36 , #FD2020) no-repeat !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 6px !important;
  width: 200px !important;
  height: 40px !important;
}

.tito-submit:hover {
  background: linear-gradient(to right, #F88A36 , #FD2020) no-repeat !important;
}